<h1>New Membership</h1>

<% if current_user%>
  <%= form_for(@membership) do |f| %>
    <%= f.select :beer_club_id, options_from_collection_for_select(@beer_clubs, :id, :to_s) %>
    <%= f.submit %>
  <%end%>
<%end%>

<%= link_to 'Back', memberships_path %>
