<p id="notice"><%= notice %></p>
<h2>List of ratings</h2>
<p> Number of ratings: <%= @ratings.count %> </p>
<ul class="list-group">
 <% @ratings.each do |rating| %>
   <li class="list-group-item"> <%= rating.to_s%> <%= link_to rating.user.username, rating.user%> </li>
 <% end %>
</ul>
